/*Login Page Start
*/

.container{
	margin-top: 200px;
}

/*Login Page End
*/

/*Request Page Start
*/

.align-label{
	vertical-align: -webkit-baseline-middle;
}


.googleMap{
	width:500px;
	height:380px;
}

/*Request Page End
*/